---
import CardImage from "./CardImage";

interface Props {
  title: string;
  image?: string;
  alt?: string;
}
const { title, image, alt } = Astro.props;
---

<div
  class={"p-5 text-slate-800 dark:text-gray-300 bg-white dark:bg-gray-700 rounded-xl  hover:shadow-xl " +
    "dark:hover:shadow-2xl hover:scale-102 hover:duration-150 "}
>
  <article class="flex items-center flex-row gap-6">
    <CardImage client:only src={image} alt={alt} />
    <div>
      <h3 class="text-2xl font-bold">{title} <slot name="badge" /></h3>
      <p class="my-2 text-lg"><slot /></p>
      <slot name="stack" />
    </div>
  </article>
</div>
