---
import TitleLayout from "../layouts/Title.astro";
import SidebarLayout from "../layouts/Sidebar.astro";
---

<TitleLayout title="Ibrahim's Personal Website">
  <SidebarLayout>
    <main>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum nihil, dolores natus voluptatem totam ad labore
      provident sequi eaque? Dolore provident eveniet perferendis beatae possimus quidem quae tempora ullam eaque.
    </main>
  </SidebarLayout>
</TitleLayout>
<style is:global>
  :root {
  }
  html {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    background-color: white;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
</style>
