---
import TitleLayout from "../layouts/Title.astro";
import SidebarLayout from "../layouts/Sidebar.astro";
---

<TitleLayout title="Ibrahim's Personal Website">
  <SidebarLayout>
    <div class="">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum nihil, dolores natus voluptatem totam ad labore
      provident sequi eaque? Dolore provident eveniet perferendis beatae possimus quidem quae tempora ullam eaque.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, laborum dolorem. Cumque repellat sequi nisi
      facilis consequuntur reiciendis? Natus earum, impedit assumenda commodi voluptates unde. Cum eos veritatis quidem
      quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, corporis ex deleniti, iste ullam,
      blanditiis quo perferendis voluptates tempora incidunt consectetur sit impedit praesentium mollitia soluta? Quia
      sunt delectus eum!
    </div>
  </SidebarLayout>
</TitleLayout>
<style is:global>
  :root {
  }
  html {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    background-color: white;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }
</style>
