---
interface Props {
  link: string;
}

const { link } = Astro.props;
---

<a class="" href={link} target="_blank">
  <div class="w-5 h-5 hover:scale-105 duration-100">
    <slot name="svg" />
  </div>
</a>
