---
interface Props {
  icon: string;
  link: string;
}

const { icon, link } = Astro.props;
---

<a class="" href={link}><img class="w-5 h-5 hover:scale-105 duration-100" src={icon} alt="Link icon" /></a>
