---
interface Props {
  text: string;
  link: string;
}
const { text, link } = Astro.props;
---

<a class="w-full" href={link}>
  <li class="py-4 my-2 rounded-md hover:bg-gray-300 duration-200">
    {text}
  </li>
</a>
