---
import portrait from "@assets/portrait.jpg";
---

<navbar class="fixed left-0 top-0 h-screen w-96 p-5 bg-gray-200">
  <img src={portrait} alt="A portrait image of the website owner" />
  <ul>
    <li>Home</li>
    <li>Projects</li>
    <li>Services</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
  <div>
    <a href="">github</a>
    <a href="">twitter</a>
    <a href="">linkedin</a>
  </div>
</navbar>
